@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Mulish&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Style Css */
body {
    background-color: #0062BD;
}

/* Start Navbar */
.header {
    max-width: 1070px;
    margin-left: 184px;
    margin-right: 184px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
    margin-top: 30px;
}

.logo {
    height: 50px;
    width: 50px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation .nav-list {
    margin-right: 30px;
}

.navigation .nav-list:last-child {
    margin-right: 0;
}

.nav-link {
    color: #ffffff;
    transition: .3s ease;
}

.nav-link:hover {
    opacity: 0.7;
}
/* End Navbar */

/* Section Main start */
.main {
    max-width: 1070px;
    margin-left: 184px;
    margin-right: 184px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-text h3 {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 45px;
    margin-bottom: 120px;
}

.main-text h5 {
    position: absolute;
    top: 200px;
    color: #ffffff;
    font-family: "Open sans", sans-serif;
    font-weight: 900;
    font-size: 75px;
    line-height: 30px;
    margin-top: 45px;
}

.main-text p {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    width: 70%;
    margin-top: -48px;
    margin-bottom: 30px;
}

.main-text a {
    color: #0062BD;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding: 10px 30px;
    background-color: #ffffff;
    border-radius: 35px;
    transition: .3s ease;
}

.main-text a:hover {
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 35px;
}

.main-img {
    margin-top: 55px; 
    margin-right: 80px;
}

.main-logo li {
    margin-top: 20px;
}

.main-social ul li a {
    color: #ffffff;
    transition: .3s ease;
}

.main-social ul li a:hover {
    opacity: 0.5;
}
/* Section Main end */

/* Pepsi images start */
.pepsi-images {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pepsi-images li img {
    margin-right: 35px;
    transition: .5s ease;
}

.pepsi-images li img:hover {
    transform: translateY(-15px);
}
/* Pepsi images end */







